/* Responsive to screen size */
/* Large screens */
@media screen and (min-width:800px) {
	main {width: 60%;}
}

/* Medium screens */
@media screen and (max-width:799px) {
	main {width: 80%;}
}

/* Small screens */
@media screen and (max-width:499px) {
	main {width: 90%;}
}

/* The main content area within the body of the page */
main {
	background: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	background: #f2f2f7;
	color: #1c1c1e;
}

p {
	
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}



/* Nav Bar */
.navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: white;
	border-radius: 5px;
	overflow: hidden;
}

.navBar li {
	float: left;
}

.navBar a {
	display: block;
	color: #0e0e0f;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

.navBar a:hover, a.active {
	background: 1c1c1e;
	color: white;
}