/* Respond to screen size */

/* Large screens */
@media screen and (min-width:800px) {
	main {width: 70%; padding: 1.5rem 3rem}
	footer button {display: none;}
	.desktop {display: block;}
	.mobile {display: none;}
	.topnav a {padding: 14px 18px;}
	.blogPost h1, .blogListItem h1 {font-size: 3rem}
	.blogPost h2, .blogListItem h2 {font-size: 2rem;}
}

/* Medium screens */
@media screen and (max-width:799px) {
	main {width: 80%;padding:1rem 2rem}
	footer button {display: none;}
	.desktop {display: block;}
	.mobile {display: none;}
	.topnav a {padding: 14px 18px;}
	.blogPost h1 {font-size: 3rem;}
	.blogPost h2, .blogListItem h2 {font-size: 2rem;}
}

/* Small screens */
@media screen and (max-width:499px) {
	main {width: 90%;padding: 1rem;}
	footer button {display: block;}
	.desktop {display: none;}
	.mobile {display: block;}
	.topnav a {width: 25%; padding: 12px 0px;}
	.blogPost h1 {font-size: 2rem; padding: 0px 0px 0px 0px}
	.blogPost h2, .blogListItem h2 {font-size: 1.5rem;}
}



/* Themes */

:root {
	--color-background-body: #f2f2f7;
	--color-background-main: #ffffff;
	--color-text-default: #1c1c1e;
	--gray-text: #888894;
	--highlight-text: #ff9500;
	--color-button-background: #ff9500;
	--color-codeBlock-text: #fafafa;
	--color-codeBlock-background: #1c1c1e;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background-body: #000000;
		--color-background-main: #1c1c1e;
		--color-text-default: #fafafa;
		--gray-text: #888894;
		--highlight-text: #ff8000;
		--color-button-background: #ff8000;
		--img-shadow: #000000;
		--color-codeBlock-text: #fafafa;
		--color-codeBlock-background: #000000;
	}
}


/* The main content area within the body of the page */

body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	background: var(--color-background-body);
	color: var(--color-text-default);
}

main {
	background: var(--color-background-main);
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
}

footer, 
footer a {
	padding: 8% 0% 0% 0%;
	line-height: 1rem;
	color: var(--gray-text);
	text-align: right;
}

p {
	
}

a {
	color: var(--link-text-default);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1rem;
}

code {
	font-weight: bold;
}

.grayText,
td:nth-child(2),
.date {
	color: var(--gray-text);
}

.highlightText,
.blogPost p a {
	color: var(--highlight-text);
}

.highlightText {
	font-weight: bold;
}

.codeBlock {
	border-radius: 10px;
	padding: 4px 12px 4px 12px;
	color: var(--color-codeBlock-text);
	background: var(--color-codeBlock-background);
	/* Enable horizontal scrolling */
	overflow-x: scroll;
	overflow-y: hidden;
}



/* Nav Bar */

.topnav {
	background: var(--color-background-body);
    overflow: hidden;
    border-radius: 5px;
}

.topnav a {
	float: left;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.topnav a:hover,
.topnav a.active {
	background: var(--color-text-default);
  	color: var(--color-background-main);
}

.topnav-right {
	float: right;
	background: var(--color-button-background);
	color: #ffffff;
	border: 1px solid var(--color-button-background);
}



/* Tables */

#writing td,
#marketing td {
	vertical-align: top;
	padding: 0px 10px 10px 0px;
}

#writing td {
	line-height: 1.5rem;
}

#writing td:first-child,
#marketing td:first-child {
	font-weight: bold;
	width: 10rem;
}

#marketing td:first-child {
	text-align: right;
}

#xp td:first-child {
	font-weight: bold;
	width: 10rem;
}



/* Lists */

#writing h2,
#marketing h2 {
	text-align: center;
}

#writing li {
	padding: 0px 0px 10px 0px;
}

#marketing ul {
	padding: 10px 0px 0px 0px;
}

#marketing li {
	padding: 0px 0px 0px 10px;
}

#writing li:first-child,
#marketing li:first-child {
	font-weight: bold;	
}

#marketing li:first-child {
	padding: 0px 0px 0px 0px;
}



/* Buttons */

button {
	display: block;
	background: var(--color-button-background);
	border: 1px solid var(--color-button-background);
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
}

button {
	padding: 10px;
}

button a {
	color: #ffffff;
	text-decoration: none;
}

#writing button {
	margin-left: auto;
	margin-right: auto;
}

.bottomButton {
	float: right;
}



/* Images */
img {
	display: block;
	width: 100%;
	padding: 0px 0px 0px 0px;
	border-radius: 2px;
	filter: drop-shadow(0 2px 4px var(--img-shadow));
}	