body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 40px;
  width: 80%;
  color: rgb(28, 28, 30);
  background-color: rgb(242, 242, 247);
}

h1 {
  color: rgb(28, 28, 30);
  line-height: 48px;
  font-size: 60px;
}

h2 {
  color: rgb(44, 44, 46);
  line-height: 36px;
  font-size: 40px;
  margin: 0;
}

h3 {
  color: rgb(44, 44, 46);
  line-height: 16px;
}

.contactTable {
  width: 10px;
  color: rgb(28, 28, 30);
  /* To collapse borders so each cell's border runs directly into the next: */
  /* border-collapse: collapse; */
}

/* Table rows: */
td {
  /* border-bottom: .5px solid rgb(155, 155, 155); */
}

.nav {
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color: rgb(90, 200, 250);
}

/* visited links */
a:visited {
  color: gray;
}

/* View My Work button */
.button {
  display: block;
  background: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin: 40px 20px;
}