body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 40px;
  width: 500px;
  color: rgb(28, 28, 30);
  background: rgb(242, 242, 247);
}

h1 {
  color: rgb(28, 28, 30);
  line-height: 48px;
  font-size: 60px;
}

h2 {
  color: rgb(44, 44, 46);
  line-height: 36px;
  margin: 0;
}

h3 {
  color: rgb(44, 44, 46);
  line-height: 16px;
}

.contactTable {
  width: 10px;
  color: rgb(28, 28, 30);
  /* To collapse borders so each cell's border runs directly into the next: */
  /* border-collapse: collapse; */
}

/* Table rows: */
td {
  /* border-bottom: .5px solid rgb(155, 155, 155); */
}

.nav {
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color: rgb(90, 200, 250);
}

/* visited links */
a:visited {
  color: gray;
}

/* View My Work button */
.button {
  display: block;
  background: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  /* margin-top: 40px; */
  margin-left: auto;
  margin-right: auto;
}

.contentBlock {
  background: rgb(250, 252, 255);
  padding: 16px;
  border-radius: 10px;
}

.titleBlock {
  /* background: rgb(222, 119, 86);
  padding:  10px;
  border-radius: 10px; */
}

/* Centers an image, button, etc.: */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 75%;
}