/* This is a test page for a retro very black and very white theme with thick lines. */

body, h1 {
  font-family: "Lucida Console", Helvetica, sans-serif;
  color: white;
  background: #000000;
}

body {
  margin: 40px;
  width: 80%;
}

h1 {
  line-height: 48px;
  font-size: 60px;
}

h2 {
  line-height: 36px;
  margin: 0;
}

h3 {
  color: white;
  line-height: 16px;
}

.contactTable {
  width: 10px;
  color: white;
  /* To collapse borders so each cell's border runs directly into the next: */
  /* border-collapse: collapse; */
}

/* Table rows: */
td {
  /* border-bottom: .5px solid rgb(155, 155, 155); */
}

/* ---------- */
/* Top Nav -- style, colors (un/visited, hover, etc.) */
.nav {
  font-weight: bold;
}

/* mouse over link */
a:hover {
  color: rgb(28, 28, 30);
}

/* visited links */
a:visited {
  color: white;
}

/* View My Work button */
.button {
  display: block;
  background: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin: 40px 20px;
}

.contentBlock {
  padding: 16px;
  border-style: solid;
  border-radius: 6px;
}

.titleBlock {
  /* background: rgb(222, 119, 86);
  padding:  10px;
  border-radius: 10px; */
}

/* Centers an image, button, etc.: */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 75%;
}