<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="og:site_name" content="{{ site.title }}"/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}"/>
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | absolute_url }}"/>
  <meta name="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}"/>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"/>
  <meta name="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"/>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="twitter:card" content="summary"/>
  <link rel="stylesheet" href="/assets/css/styles.css" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/png"/>
  <link rel="alternate" href="{{ "/feed.xml" | relative_url }}" type="application/atom+xml" title="Subscribe to {{ site.title }}"/>
  {% feed_meta %}
  {% seo %}
</head>
<body>
  {% include header.html %}
  <div class="wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
</body>
</html>